<div class="d-flex flex-grow-1 mt-3 justify-content-center">
    <button type="button" class="btn btn-secondary" @onclick="@OnOk">
        OK
    </button>
</div>



@code {
    [CascadingParameter]
    BlazoredModalInstance Modal { get; set; }

    private void OnOk()
    {
        Console.WriteLine("$$$$$$$$$$$$$$$$$$$$$$$$ CLOSING REMOVE MODAL!!!");
        Modal.Close();
    }

}
