@page "/FeedReader"
@inject ILogger<FeedReader> Logger
@inject IHostedService Bootstrap

<h3>FeedReader</h3>

@code 
{
    protected override async Task OnInitializedAsync()
    {
        await Bootstrap.StartAsync(new CancellationTokenSource().Token);

    }

}