@page "/"




<div class="d-flex flex-column justify-content-center align-items-center h-100">
    <div class="p-2">
        <h1>FeedReader@ME</h1>
    </div>
    <div class="p-2">
        <img src="images/rss-feed.png" class="img-fluid" />
    </div>
    <div class="p-2">
        <h3>Signin </h3> <h3> Login</h3>
    </div>
</div>

@code {

}
