@page "/"

<style>
    .content {
        padding-top: 0;
    }
</style>

<div class="d-flex flex-wrap h-100">
    <div class="w-50" style="background-color:orange">This is Orange</div>
    <div class="w-50" style="background-color:lightblue">This is Blue</div>
</div>




@code {

}
