@page "/"

<style>
</style>


@if (_feedChannels == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="col-3 mh-100 overflow-auto bg-secondary px-0" id="sidebarWrapper">

        <div class="text-center py-4" style="background: #283e4a;">
            <div class="text-white lead">Feed channels</div>
        </div>
        <div class="list-group" id="sidebar-wrapper">
            <button type="button"
                    class="list-group-item list-group-item-action bg-secondary text-white btn shadow-none">
                <span>
                    <img class="img-fluid"
                         src="https://i4.hurimg.com/i/hurriyet/75/300x476/5ebbc35ed3806c1900ceb523.jpg" />
                </span>
                Dashboard
            </button>
            <button type="button"
                    class="list-group-item list-group-item-action bg-secondary text-white  btn shadow-none">
                <span>
                    <img class="img-fluid my-img" src="//placehold.it/100" />
                </span>
                Shortcuts
            </button>
            <button type="button"
                    class="py-3 list-group-item list-group-item-action bg-secondary text-white btn shadow-none">
                <span>
                    <img class="img-fluid"
                         src="https://i4.hurimg.com/i/hurriyet/75/300x476/5ebbc35ed3806c1900ceb523.jpg" />
                </span>
                Overview
            </button>
            <button type="button"
                    class="list-group-item list-group-item-action bg-secondary text-white btn shadow-none">
                <span>
                    <img class="img-fluid"
                         src="https://i4.hurimg.com/i/hurriyet/75/900x350/5ebad82a18c773176020a28b.jpg" />
                </span>
                Events
            </button>
            <button type="button"
                    class="list-group-item list-group-item-action bg-secondary text-white btn shadow-none">
                <span>
                    <img class="img-fluid" src="https://icons.feedercdn.com/www.bbc.co.uk" />
                </span>
                Profile
            </button>
            <button type="button"
                    class="list-group-item list-group-item-action bg-secondary text-white btn shadow-none">
                <span>
                    <img class="img-fluid"
                         src="https://cdn4.buysellads.net/uu/1/3386/1525189943-38523.png" />
                </span>
                Status
            </button>
        </div>

    </div>
    <div class='col mh-100 overflow-auto'>
        <div class='row flex-shrink-0'>
            <div class="col">
                <h3>Body content</h3>
            </div>
        </div>
        <div class='row flex-grow-1'>
            <div class="col mh-100 overflow-auto py-2">
                <p>
                    Ethical Kickstarter PBR asymmetrical lo-fi. Dreamcatcher street art Carles, stumptown
                    gluten-free Kickstarter artisan Wes Anderson wolf pug. Godard sustainable you probably
                    haven't heard of them, vegan farm-to-table Williamsburg slow-carb readymade disrupt deep
                    v. Meggings seitan Wes Anderson semiotics, cliche American Apparel whatever. Helvetica
                    cray plaid, vegan brunch Banksy leggings +1 direct trade. Wayfarers codeply PBR selfies.
                    Banh mi McSweeney's Shoreditch selfies, forage fingerstache food truck occupy YOLO
                    Pitchfork fixie iPhone fanny pack art party Portland.

                    In addition to other qualifications, I have more than 10 years of C#/.NET and 4
                    years of
                    Xamarin
                    experience.

                    I have extensive remote working culture as I worked as a fully remote contractor
                    with an
                    US
                    company
                    Intelligraphics for 14 years. You can contact Robert Manley (+1 416 574 9778) for
                    further
                    reference.
                    I have attached a copy of my resume that details my projects and experience in
                    software
                    development.
                    Thank you for your time and consideration. I look forward to speaking with you about
                    this
                    opportunity.
                    In addition to other qualifications, I have more than 10 years of C#/.NET and 4
                    years of
                    Xamarin
                    experience.
                    I have extensive remote working culture as I worked as a fully remote contractor
                    with an
                    US
                    company
                    Intelligraphics for 14 years. You can contact Robert Manley (+1 416 574 9778) for
                    further
                    reference.
                    I have attached a copy of my resume that details my projects and experience in
                    software
                    development.
                    Thank you for your time and consideration. I look forward to speaking with you about
                    this
                    opportunity.
                    In addition to other qualifications, I have more than 10 years of C#/.NET and 4
                    years of
                    Xamarin
                    experience.
                    I have extensive remote working culture as I worked as a fully remote contractor
                    with an
                    US
                    company
                    Intelligraphics for 14 years. You can contact Robert Manley (+1 416 574 9778) for
                    further
                    reference.
                    I have attached a copy of my resume that details my projects and experience in
                    software
                    development.
                    Thank you for your time and consideration. I look forward to speaking with you about
                    this
                    opportunity.
                    In addition to other qualifications, I have more than 10 years of C#/.NET and 4
                    years of
                    Xamarin
                    experience.
                    I have extensive remote working culture as I worked as a fully remote contractor
                    with an
                    US
                    company
                    Intelligraphics for 14 years. You can contact Robert Manley (+1 416 574 9778) for
                    further
                    reference.
                    I have attached a copy of my resume that details my projects and experience in
                    software
                    development.
                    Thank you for your time and consideration. I look forward to speaking with you about
                    this
                    opportunity.
                    In addition to other qualifications, I have more than 10 years of C#/.NET and 4
                    years of
                    Xamarin
                    experience.
                    I have extensive remote working culture as I worked as a fully remote contractor
                    with an
                    US
                    company
                    Intelligraphics for 14 years. You can contact Robert Manley (+1 416 574 9778) for
                    further
                    reference.
                    I have attached a copy of my resume that details my projects and experience in
                    software
                    development.
                    Thank you for your time and consideration. I look forward to speaking with you about
                    this
                    opportunity.
                    In addition to other qualifications, I have more than 10 years of C#/.NET and 4
                    years of
                    Xamarin
                    experience.
                    I have extensive remote working culture as I worked as a fully remote contractor
                    with an
                    US
                    company
                    Intelligraphics for 14 years. You can contact Robert Manley (+1 416 574 9778) for
                    further
                    reference.
                    I have attached a copy of my resume that details my projects and experience in
                    software
                    development.
                    Thank you for your time and consideration. I look forward to speaking with you about
                    this
                    opportunity.
                    In addition to other qualifications, I have more than 10 years of C#/.NET and 4
                    years of
                    Xamarin
                    experience.
                    I have extensive remote working culture as I worked as a fully remote contractor
                    with an
                    US
                    company
                    Intelligraphics for 14 years. You can contact Robert Manley (+1 416 574 9778) for
                    further
                    reference.
                    I have attached a copy of my resume that details my projects and experience in
                    software
                    development.
                    Thank you for your time and consideration. I look forward to speaking with you about
                    this
                    opportunity.
                    In addition to other qualifications, I have more than 10 years of C#/.NET and 4
                    years of
                    Xamarin
                    experience.
                    I have extensive remote working culture as I worked as a fully remote contractor
                    with an
                    US
                    company
                    Intelligraphics for 14 years. You can contact Robert Manley (+1 416 574 9778) for
                    further
                    reference.
                    I have attached a copy of my resume that details my projects and experience in
                    software
                    development.
                    Thank you for your time and consideration. I look forward to speaking with you about
                    this
                    opportunity.
                    In addition to other qualifications, I have more than 10 years of C#/.NET and 4
                    years of
                    Xamarin
                    experience.
                    I have extensive remote working culture as I worked as a fully remote contractor
                    with an
                    US
                    company
                    Intelligraphics for 14 years. You can contact Robert Manley (+1 416 574 9778) for
                    further
                    reference.
                    I have attached a copy of my resume that details my projects and experience in
                    software
                    development.
                    Thank you for your time and consideration. I look forward to speaking with you about
                    this
                    opportunity.


                </p>
            </div>
        </div>
    </div>
}

