@page "/"
@using BlazorSplit.Components

<style>
    .content {
        padding-top: 0;
    }
</style>

<div class="d-flex flex-wrap h-100">
    <Split>
        <SplitArea>
            <div class="h-100" style="background-color:beige">This is Channels
            </div>
        </SplitArea>
        <SplitArea>
            <div class="h-100" style="background-color:ghostwhite">This is Items
            </div>
        </SplitArea>
    </Split>
</div>




@code {

}

