@inherits LayoutComponentBase

<style>
    app {
        height: 100vh;
        background: black;
    }
</style>

<div class="main" style="background: orange">

    <div class="content px-4" style="background: blue">
        @Body
    </div>


</div>
