@inherits LayoutComponentBase

<style>
    app {
        /*height: 100vh;
        background: black;*/
    }
</style>

<div class="main">

    <div class="content px-4">
        @Body
    </div>


</div>
