@inherits LayoutComponentBase


<style>
    app {
        height: 100vh;
    }

    .main {
        display: flex;
        flex-direction: column;    }

    .top-row {
        flex: 0 1 auto;
    }

    .content {
        background-color: cyan;
        flex: 1 1 auto;
    }

    .bottom-row
    {
        height: 2.5rem;
        display: flex;
        align-items: center;
        flex: 0 1 auto;
        background-color: #f7f7f7;
        border-top: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

    .main .top-row:not(.auth) {
        display: flex;
    }
</style>

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content">
        @Body
    </div>

    <div class="bottom-row px-4">
        <div>melihercan@2020</div>
    </div>

</div>
