@inherits LayoutComponentBase

<style>
    .sidebar {
        width: 65px;
        overflow-y: auto;
        overflow-x: hidden;
        background-image: linear-gradient(180deg, #283e4a, #dcdbe4);
    }

        .sidebar .nav-item a {
            height: 2rem;
            width: 2rem;
        }

        .sidebar .oi {
            font-size: 1rem;
            left: -8px;
        }

    #sidebarWrapper img {
        width: 2.5rem;
        max-height: 2.5rem;
        margin-right: 0.5rem;
    }

    #sidebarWrapper button {
        height: 4rem;
    }
</style>

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
