@inherits LayoutComponentBase





    <div class="main">

        <div class="d-flex flex-column flex-column justify-content-between h-100">


            <div class="p-2" style=" background-color:fuchsia;">
                Header
                <div>
                    Header2
                </div>
            </div>

            <div class="p-2 h-100" style=" background-color: yellow">
                @Body
            </div>

            <div class="p-2" style=" background-color:royalblue;">
                Footer
                <div>
                    Footer2
                </div>
            </div>

        </div>
    </div>

